/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
} */

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.App {
  width: 70%;
  margin: auto;
  
}
.qs-add {
  border: 1px solid rgb(129, 155, 129);
  margin: 0px 0px 10px 0px;
  padding: 20px;
  background-color: rgb(227, 231, 227);
}

.qs-list {
  /* width: 70%; */
  margin: auto;
  
}

.qs-list-item {
  text-align: left;
  border: 1px solid rgb(129, 155, 129);
  margin: 0px 0px 10px 0px;
  padding: 20px;
  background-color: rgb(227, 231, 227);
  cursor: pointer;
}
.qs-item-title {
  font-size: larger;
}
.qs-item-author {
  font-size: medium;
  margin-bottom: 0px;
}
.qs-item-timestamp {
  font-size: small;
}
.qs-list-item-top {
  display: flex;
  justify-content: space-between;

}
.qs-item-option {
  margin: 20px;
}
.qs-tabs {
  
}
.qs-tabs-unanswered {
  display: inline-block;
  width: 50%;
  background-color: rgb(209, 248, 211);
  padding: 10px 0px;
  border: 0px;
  cursor: pointer;
}
.qs-tabs-unanswered-selected {
  font-weight: bold;
}
.qs-tabs-answered {
  display: inline-block;
  width: 50%;
  background-color: rgb(218, 226, 218);
  padding: 10px 0px;
  border: 0px;
  cursor: pointer;
}
.qs-tabs-answered-selected {
  font-weight: bold;
}

.qs-contents-unanswered {
  padding: 10px 10px 10px 10px;
  background-color: rgb(209, 248, 211);
}
.qs-contents-answered {
  padding: 10px 10px 10px 10px;
  background-color: rgb(218, 226, 218);
}

